body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: grey;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: 2px solid black;
}

td div {
    display: flex;
    justify-content: center;
    align-items: center;
}

td svg {
    display: flex;
    justify-content: center;
    align-items: center;
}

b {
    display: flex;
    justify-content: center;
}

.naming {
    display: flex;
    align-items: center;
    color: #f2f2f2;
    text-decoration: none;
    margin-left: 1%;
}

.page_name {
    display: flex;
    align-items: center;
    padding-left: 1%;
}

.header_btn {
    margin: 5px;
    display: flex;
    justify-content: space-around;
}

.notification_btn {
    display: flex;
    align-items: center;
    background: transparent;
    border: 0;
    padding: 0;
    position: relative;
}

.user_btn {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: transparent;
    border: 0;
    text-decoration: none;
    margin-left: 5px;
}

.user_name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    white-space: nowrap;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #ddd;
    border: 2px solid black;
}

.dropdown_content a {
    display: block;
    text-decoration: none;
    color: black;
}

.dropdown_content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown_content {
    display: block;
} 

.navigation_btn {
    display: flex;
    flex-direction: column;
    justify-content: left;
    min-width: 10%;
}

.navigation_btn a{
    text-decoration: none;
    color: #353535;
    font-style: normal;
    font-weight: normal;
}

.navigation_btn a:hover{
    font-weight: bold;
}

.active_btn {
    font-weight: bold;
}

.dashboard_content {
    display: none;
}

.student_content {
    display: none;
    min-width: 70%;
}

.task_content {
    display: none;
}

.active {
    display: block;
}

.data {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
}

.add {
    margin-right: 5%;
    margin-bottom: 5%;
    float: right;
}

.edit_btns {
    display: flex;
    justify-content: space-around;
}

.pagination {
    margin-top: 5%;
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
}

.pagination_btn {
    margin-left: .5%;
    margin-right: .5%;
}

.navigation_btn button {
    font-size: 16px;
    border: 0;
    background-color: white;
    margin: 3%;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FF0055;
    position: absolute;
    top: 0px; /* Зміщення вверх */
    right: 0px; /* Зміщення вправо */
}

.circle::before {
    content: " ";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    animation: circle_blinking 2s infinite;
}

/*.circle::before {
    animation: circle_blinking 2s infinite;
    position: absolute;
    background-color: red;
}*/

@keyframes circle_blinking {
    50% {
        transform: scale(2);
        opacity: 0;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}
