body {
    margin: 0;
}

/*хедер*/

header {
    display: flex;
    justify-content: space-between;
    background-color: grey;
}

.naming {
    display: flex;
    align-items: center;
    color: #f2f2f2;
    text-decoration: none;
    margin-left: 1%;
}

.page_name {
    display: flex;
    align-items: center;
    padding-left: 1%;
}

.header_btn {
    margin: 5px;
    display: flex;
    justify-content: space-around;
    position: relative;
    gap: 7px;
}

.notification_btn {
    display: flex;
    align-items: center;
    background: transparent;
    border: 0;
    padding: 0;
    position: relative;
}

.user_btn {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: transparent;
    border: 0;
    text-decoration: none;
}

.user_name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    white-space: nowrap;
    color: white;
}

/*вспливаюче меню акаунта*/

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
}

.dropdown_content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #ddd;
    border: 2px solid black;
    top: 100%;
}

.dropdown_content a {
    display: block;
    text-decoration: none;
    color: black;
}

.dropdown_content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown_content {
    display: block;
} 

/*вспливаюче меню повідомлень*/

.notification {
    position: relative;
    display: flex;
    align-items: center;
}

.notification_dropdown {
    display: none;
    position: absolute;
    background-color: #ddd;
    border: 2px solid black;
    top: 100%;
    min-width: 150px;

}

.notification:hover .notification_dropdown {
    display: block;
}

.message_user {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bbb;
}

/*дані (все крім хедера)*/

.data {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
}

/*ліве меню*/

.navigation_btn {
    display: flex;
    flex-direction: column;
    justify-content: left;
    min-width: 10%;
}

.navigation_btn a{
    text-decoration: none;
    color: #353535;
    font-style: normal;
    font-weight: normal;
}

.navigation_btn a:hover{
    font-weight: bold;
}

.navigation_btn button {
    font-size: 16px;
    border: 0;
    background-color: white;
    margin: 3%;
}

/*індекатор повідомлень*/

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FF0055;
    position: absolute;
    top: 0px;
    right: 0px;
}

.circle::before {
    content: " ";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    animation: circle_blinking 2s infinite;
}
